body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(155, 72, 13); text-decoration: none;}
.bar {
    background-color: chocolate;
    padding:15px;
    
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 0rem;
    padding-right: 0rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    padding-left: 10px;
    background-color: rgb(192, 144, 22);
    
}
.sidebar {
    background: rgb(192, 144, 22);
    padding-left:10px;
}
figure {
    text-align: center;
}